[core]
	editor = code -w
[init]
	defaultBranch = main
[user]
	email = devops@bydushyant.com
	name = Dushyant
[alias]
	last = log -1 HEAD
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all