
# Build .wakatime.cfg file based on this sample file
[settings]
api_key = < Add your api key from wakatime settings here >
hide_file_names = false
hide_project_names = false
hide_branch_names = true
status_bar_icon = true
status_bar_coding_activity = true